$color-1: #272727;
$color-2: #ebebeb;

form.subnet-calculator {

    section {
        display: flex;
        justify-content: space-around;
        margin-top: 1em;
    }

    fieldset {
        padding: 0 1em;
    }

    section>* {
        // flex-grow: 1;
        width: 100%;
    }

    label {
        text-align: center;
    }

    label>input {
        margin-left: 0.1em;
    }

    input[type="text"],
    input[type="number"],
    select {
        padding: 0.3rem;
        width: 100%;
    }
}

.text-center {
    text-align: center;
}

table {
    width: 100%;

    tr {
        border-bottom-width: 0.2em;
    }

    tr>* {
        text-align: center;
        padding: 0.4em 0;
    }
}